body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000 #434343);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'poppins', sans-serif;


    /* background-color: black; */
    /* scroll-behavior: smooth; */
}

/* body.blur{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
} */


/* -------------------
variables
--------------------

*/
:root {
    /* dark shades */
    --clr-primary-1:

}

* {
    margin: 0;
}

.header {
    color: whitesmoke;
    margin: 5rem 2rem;
    /* background-color: #29AB87; */
}

.cv-btn {
    margin: 2rem 0;
    background: transparent;
    color: whitesmoke;
    border: 1px solid #29AB87;
    padding: 0.5rem 1rem;
}

.portfolio-h1 {
    color: #29AB87;
    /* margin-top: 10rem; */

}

.portfolio-info {
    margin: 0 2rem;


}

.portfolioIngo-p {
    color: whitesmoke;
    margin: 1rem 0;
}

.portfolio {
    /* margin: 0; */
    /* background-color: aliceblue; */
}

/* BEGINNING OF NAV  */
.nav {
    /* background-color: aliceblue; */
    background: transparent;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;


}

.nav-span {

    color: #29AB87;

}

.nav-h2 {

    color: rgb(206, 205, 205);
    font-size: 1.2rem;

}

.navbar {


    color: whitesmoke;



}

.nav-icon {
    font-size: 1.8rem;
    background-color: #242424;
    border-radius: 5px;
    padding: 0.2rem;
    transition: all 0.3s ease-out;



}

.nav-icon:hover {
    rotate: 90deg;

}

.nav-show {
    height: 0;
    overflow: hidden;
    background-color: aliceblue;
    transition: all 0.3s ease-out;
    /* width: 50px; */
}

.show-container {
    height: 27rem;
    /* background-color: aquamarine; */
    background-color: #292828;
    position: fixed;
    right: 0%;
    top: 0;
    width: 70%;
    height: 100%;
    /* background-color: aliceblue; */
    /* opacity: 0.3; */
}

.close-icon {

    display: none;
}

.show-closeicon {
    /* display: block; */
    /* position: absolute; */
    /* right: 10%; */
    /* top: 5%; */
    margin-left: 80%;
    margin-top: 10%;
    color: whitesmoke;
    font-size: 1.8rem;

}

/* .show-closeicon{
    display: block;
    position: absolute;
    right: 10%;
    top: 5%;
    color: whitesmoke;
    font-size: 1.8rem;
   
    
    
    
} */
/* .show-closeicon:hover{
    rotate: -90deg;

} */
.show-container.active {
    opacity: 0.3;

}

.link-element {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.li-element {
    margin: 1.5rem 0;
    font-size: 1.3rem;
    color: #c0bdbd;
    list-style: none;
    text-transform: capitalize;
}

.li-btn {
    color: white;
    padding: 0.6rem 2rem;
    background-color: #29AB87;
    border: none;
    border-radius: 5px;
    margin: 2rem 0;

}

.nav-a {
    margin-right: 1rem;

}

/* END OF NAV */


/* END OF HEADER STYLING */

/* BEGINNING OF TECHNICAL SKILLS */
.one {
    background-color: rgb(53, 52, 52);
    padding: 0.7rem 1rem;
    text-align: center;
    color: whitesmoke;
    box-shadow: 2px 2px 4px rgba(20, 200, 145, .4);
    /* box-shadow: 2px 4px 4px #29AB87; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(30.66% - 10px);
    margin: 0.5rem;

}

.technical-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 2rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}

/* END OF TECHNICAL SKILLS */

/* BEGINNING OF PROJECTS */
.project-h2 {}

.pro-img {
    max-width: 100%;
    height: auto;
}

.show-img-div {}

.portfolio-section {
    color: whitesmoke;
    margin: 4rem 0;
    padding: 2rem 2rem;
}

.project-info {
    background: #29AB87;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    background: #000000;
    background: linear-gradient(to right, #000000, #434343);
    box-shadow: 2px 2px 4px rgba(20, 200, 145, .4);
    border-radius: 5px;

}

.projectinf0-h2 {

    margin-top: 2rem;

}

.projectinf0-h22 {
    margin-top: 0.5rem;
    color: #29AB87;

}

.projectinf0-h3 {

    margin-top: 1rem;

    text-transform: capitalize;

}

.projectinf0-p {
    text-align: sstart;
    margin-top: 1rem;

    text-transform: capitalize;
}

.projectinf0-pp {

    margin: 1rem 0;


    /* color: aqua; */
}

.arrow {
    background: transparent;
    color: #29AB87;
    /* margin-top: 5rem; */
    /* font-weight: bold; */
    /* background-color: beige; */
}

.icon {
    font-weight: bold;
    /* color: #434343; */
    /* margin-top: 5rem; */
}

.project-link {
    text-decoration: none;
    color: white;
    text-align: center;

}

/* END OF PROJECTS */


/* BEGINNING OF ABOUT */
.about {
    color: whitesmoke;
}

.about-p {
    color: rgb(178, 176, 176);
    margin: 0.5rem 0;
}

.about-info {
    margin: 0 2rem;

}

.about-col {
    margin-top: 1rem;
    background-color: #292828;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

}

.about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* END OF ABOUT */

/* BEGINNING OF CONTACT */
.contact {
    /* background-color:  #1b1a1a; */

    color: whitesmoke;
    margin: 0 2rem;
    margin-top: 5rem;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.form {
    margin: 2rem 0;
}

input {
    width: 90%;
    margin: 1rem 0;
    height: 30px;
    background-color: #292828;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;

}

.textarea {
    width: 90%;
    margin-bottom: 1rem;
    background-color: #292828;
    color: white;
    font-size: 1rem;
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

.contact-p {
    margin: 1rem 0;
    background: transparent;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 24px;

}

.contact-h2 {
    text-transform: capitalize;


}

.contact-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #29AB87;
    background: transparent;
    color: white;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.contact-btn:hover {
    background-color: #29AB87;
}

.footer {
    display: flex;
    justify-content: center;
    /* background-color: #29AB87; */
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.footer-iconfooter {
    /* background-color: #29AB87; */
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-icon {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(119, 116, 116);
    font-size: 1.3rem;
    /* background-color: antiquewhite; */
    margin: 1rem 3rem;
}

.footer-p {
    margin: 2rem 0;
    font-size: 0.9rem;
    color: rgb(119, 116, 116);
    text-align: center;
}

/* hr{
    color: #292828;
    background-color: #434343;
} */
.underline {
    width: 100%;
    /* width: 400px; */
    height: 1px;
    background-color: rgb(91, 87, 87);
}

.footer-span {
    color: whitesmoke;
}

.footer-a {
    color: rgb(119, 116, 116);
}

/* END OF CONTACT */

/* BEGINNING OF ARITICLES */

.article-map {
    color: whitesmoke;
    margin: 4rem 0;
    padding: 2rem 2rem;
}

.article-info {
    background: #29AB87;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    background: #000000;
    background: linear-gradient(to right, #000000, #434343);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.articles-img {
    max-width: 100%;
    height: auto;
    border-top: 2px solid rgb(246, 214, 134);

}

.article-h2 {
    color: rgb(246, 214, 134);
    margin: 1rem;
    text-align: center;
}

.article-h3 {
    margin: 0 2rem;
    color: whitesmoke;
}

.article-p {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(164, 162, 162);

    /* margin: 0.5rem ; */

}

/* END OF ARITICLES */

@media only screen and (min-width:768px) {

    /* BEGINNING OF HEADER STYLING */
    .li-element {
        font-size: 1.1rem;
    }

    .cv-btn {
        border: 2px solid #29AB87;
        padding: 0.7rem 1.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        /* font-size: 1.; */

    }

    .front-end {
        margin-bottom: 3rem;
    }

    .header {
        color: whitesmoke;
        margin: 5rem 2rem;
        /* background-color: #29AB87; */
    }

    .header-section {
        margin: 0 3rem;
        /* background-color: #c0bdbd; */
    }

    .header h1 {

        font-size: 1.8rem;

    }

    .portfolio-h1 {

        /* margin-bottom: 0; */
    }

    .portfolioIngo-p {
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;


    }

    .one {
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 calc(36.66% - 20px);
        margin: 0.5rem;
    }

    .project-h2 {
        font-size: 1.5rem;

    }

    /* END OF PORTFOLIO HEADER STYLING */


    /*  BEGINNING OF NAVBAR STYLING */





    .navbar {
        display: none;
    }

    /* .show-container{
        display: block;
    } */
    .nav-show {
        height: 50rem;
        /* overflow: hidden; */
        transition: all 0.3s ease-out;
        /* width: 50px; */
    }

    .show-closeicon {
        /* display: none; */
    }

    .link-element {
        /* margin-top: 7rem; */
        display: flex;
        margin-top: 0;
        /* background-color: #29AB87; */
        /* height: 5px; */
        position: absolute;
        top: 0%;
        right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 0;

        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */

    }

    .logo {
        position: absolute;
        top: 4%;
        left: 5%;


    }

    .nav-show {
        height: 0;
        overflow: hidden;
        background-color: aliceblue;
        transition: all 0.3s ease-out;
        /* width: 50px; */
    }

    .header {
        color: whitesmoke;
        margin-top: 7rem;

    }


    .show-container {
        background-color: #d7d2d2;

    }

    .show-closeicon {
        display: none;
        background-color: aliceblue;
    }

    .footer-icon {
        display: none;
    }


    /* END OF HEADER STYLING */

    /* BEGINNING OF FOOTER STYLING */
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


    }

    .footer-iconfooter {
        /* background-color: #29AB87; */
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: rgb(119, 116, 116);
        font-size: 1.3rem;

        width: 400px;
    }

    .footer-p {
        margin: 2rem 0;
        font-size: 0.9rem;
        color: rgb(119, 116, 116);
        text-align: center;
    }


    .footer-span {
        color: whitesmoke;
    }

    .footer-a {
        color: rgb(119, 116, 116);
    }

    /* END OF FOOTER STYLING */

    /* BEGINNIG OF PROJECT STYLING */
    .project-parent {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

    }

    .project-info {

        margin: 1rem;
    }

    /* END OF PROJECT STYLING */

    /* BEGINNIG OF ABOUT STYLING */
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .about-info h2 {
        text-align: center;
        margin: 0.5rem;

    }

    .about-col {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    /* END OF ABOUT STYLING */

    /* BEGINNIG OF 
       
       
       STYLING */
    .contact-paragraph {
        margin: 1.5rem 7rem;
    }

    .contact-h2 {
        margin: 1rem 0;
    }

    input {
        width: 60%;
    }

    .textarea {
        width: 60%;
        margin: 1rem 0;
    }



    /* END OF ABOUT STYLING */

}